@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

div > nav > a {
    
    text-decoration: none;
    padding: 10px;
    color: black;
}

div > nav > a:hover {
    background-color: rgb(0, 172, 228);
    color: white;
}

main {
    background-color: white;
    margin: auto;
}


section.banner {
    display: flex;
    justify-content: center;

    background-image: url(../imagens/img1.jpg);
    background-size: cover;
    background-position: center top;
    height: 670px;
}

.column {
    display: flex;
    flex-direction: column;
}

.banner-texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    color: white;
}

.banner-texto h1 {
    font-size: 4em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.61);
}

.banner-texto p {
    font-size: 1.2em;
    margin-top: 20px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.336);
}

.banner-blocos {
    display: flex;
    height: 210px;
}

.bloco1, .bloco2, .bloco3 {
    flex: 1;
    color: white;
    padding: 20px;

}

.bloco1 {
    background-color: rgb(57, 170, 225);
}
.bloco2 {
    background-color: rgb(0, 121, 199);
}
.bloco3 {
    background-color: rgb(43, 76, 153);
}

.bloco1 h2, .bloco2 h2, .bloco3 h2 {
    margin-bottom: 20px;
}

.bloco1 p, .bloco2 p {
    line-height: 20px;
}

.banner-blocos  a {
    font-size: 0.8em;
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    margin-top: 10px;
    padding: 5px;
}

.bloco1 a:hover {
    background-color: rgb(0, 121, 199);
    font-weight: bold;
}

.bloco2 a:hover {
    background-color: rgb(57, 170, 225);
    font-weight: bold;
}

.horario1, .horario2, .horario3 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.233);
}

.horario2, .horario3 {
    padding-top: 10px;
}

section#geral {
    display: flex;
    justify-content: center;
}