@charset "utf-8";

@media screen and (width: 1024px) {
    .menu li a {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 350px) and (max-width: 992px) {
    .logo {
        margin-left: 30px;
    }

    .menu-opener {
        display: block;
        width: 30px;
        margin-right: 30px;
    }

    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.8);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li a {
        font-size: 1em;
        font-weight: bold;
        height: 50px;
        margin-left: 50px;
        border: none;
    }

    .menu li.active a {
        border: none;
        color: var(--cor01);
    }

    .section-aboutus {
        flex-direction: column;
        padding: 20px;
    }

    .section-aboutus--left {
        margin-bottom: 30px;
    }

    .section-aboutus--right {
        width: auto;
    }

    .section-services {
        flex-wrap: wrap;
        
        padding: 20px;
    }

    .section-service {
        min-width: 50%;
        margin-bottom: 30px;
        border: none;
    }

    .section-service:last-child {
        border: none;
    }

    .section-team {
        max-width: 580px;
    }

    .section-review{
        padding: 20px;
    }

    .section-awards--frame {
        padding: 10px;
    }

    .section-premium--container {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .section-premium--features {
        max-width: 400px;
    }

    .section-map {
        padding-right: 30px;
        padding-left: 30px;
    }

    .section-map--info-item {
        margin-bottom: 20px;
    }

    .section-map--info-item:last-child {
        margin-bottom: 0px;
    }

    .footer-container {
        flex-direction: column-reverse;
        row-gap: 30px;
    }
}   

@media screen and (min-width: 600px) and (max-width: 768px) {
    .section-projects--filters {
        font-size: 0.8em;
        padding: 0px 10px;
        max-width: 460px;
    }

    .section-projects--box {
        padding: 0px 10px;
        height: 46px;
    }

    .section-review{
        padding: 20px;
    }

    .section-awards--frame.displaynone {
        display: none;
    }

    .section-body--contact form {
        width: 350px;
    }

    .section-body--input-1 {
        display: flex;
        flex-direction: column;
    }

    .section-body--input-1 input {
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    .menu ul li a {
        font-size: 0.8em;
        height: 40px;
        margin-left: 30px;
    }

    .banner h1 {
        font-size: 2em;
    }

    .banner h2 {
        font-size: 1em;
    }

    .section-aboutus--right img {
        width: 100%;
    }

    .section-services {
        flex-direction: column;
    }

    .section-projects {
        padding-right: 10px;
        padding-left: 10px;
    }

    .section-projects--filters {
        font-size: 0.7em;
        padding: 0px;
        width: auto;
    }

    .section-projects--box {
        padding: 0px 4px;
        height: 46px;
    }

    .section-projects--photo {
        width: 320px;
    }

    .section-projects--photo {
        width: 300px;
        height: auto;
    }

    .section-team {
        max-width: 280px;
    }

    .displaynone-2, .displaynone {
        display: none;
    }

    .section-premium--image img {
        max-width: 300px;
    }

    .features-container h3 {
        font-size: 1.1em;
    }

    .features-container img {
        width: 30px;
        height: auto;
    }
    
    .section-tellaboutus--container {
        flex-direction: column;
        row-gap: 20px;
    }

    .section-tellaboutus--containersocial {
        column-gap: 10px;
    }

    .section-tellaboutus--social {
        flex-direction: column;
        row-gap: 10px;
    }

    .section-body--contact form {
        width: 300px;
    }

    .section-body--input-1 {
        display: flex;
        flex-direction: column;
    }

    .section-body--input-1 input {
        width: 100%;
    }

    .section-map {
        padding: 0;
        padding-bottom: 250px;
    }

    .section-map--info {
        width: 100%;
    }

}