@charset "utef-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

h1 {
    font-size: 3em;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

.topo {
    background-color: black;
    padding-bottom: 20px;
}

.topo p:before {
    content: '\2729\00A0';
}

.topo span:before {
    content: '\271E\00A0';
}

picture p {
    color: white;
    text-align: center;
}

picture img {
    display: block;
    margin: auto;
    text-align: center;
}

figcaption {
    color: white;
    text-align: center;
    padding: 5px;
}

main {
    background-color: white;
    margin: auto;
}

article.biografia {
    margin: auto;
    max-width: 800px;
    text-align: center;
    padding: 20px;

    margin-top: 10vh;
    margin-bottom: 10vh;
}

article.biografia h2 {
    padding-bottom: 20px;
}

article.biografia p {
    text-indent: 20px;
    text-align: justify;
    line-height: 1.3em;
}

article.biografia a {
    text-decoration: none;
    color: black;
}

article.biografia a:hover {
    text-decoration: underline;
}

section.imagem-fundo {
    background: url(../imagens/joey-jordison-01.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20vh;
    padding-bottom: 20vh;
    box-shadow:  6px 6px 13px 0px black;
}

.lista-margem {
    margin-left: 20px;
    margin-right: 20px;
}

section > h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

section.lista {
    background-color: lightgray;
    max-width: 800px;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
    padding: 20px 10px 20px 10px;
    line-height: 20px;
    word-wrap: break-word;
    border-radius: 8px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.432);
}

ul {
    margin-left: 30px;
}

ul > li#born {
    list-style-type: '\2729\00A0';
}

ul > li#death {
    list-style-type: '\271E\00A0';
}

div.imagem-fundo-2 {
    background: url(../imagens/joey-jordison-1.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20vh;
    padding-bottom: 20vh;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.521);
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: auto;
    padding-bottom: 40px;
    flex-wrap: wrap;
    row-gap: 40px;
}

.galeria {
    margin-top: 20vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
}

.galeria h2 {
    text-align: center;
    margin-bottom: 15vh;
}

div.video {
    margin: auto;
    max-width: 600px;
    width: 100%;
}

div.video-area {
    position: relative;
    background-color: black;
    height: 0px;
    padding: 0px 0px 56.25%;
}

div.video-area iframe {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        margin: auto;
        max-width: 350px;
    }

    footer {
        font-size: 0.8em;
    }
}
