@charset "utf-8";

@media screen and (max-width: 600px) {

    .container {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    div.login {
        padding-top: 60px;
        padding-bottom: 30px;
        border-radius: 20px 20px 0px 0px;
    }

    div.login h1, div.form h1 {
        font-size: 2em;
    }

    div.login p, div.form p {
        font-size: 1em;
    }

    div.form {
        border-radius: 0px 0px 20px 20px;
    }

    div.form img {
        width: 45px;
    }

    button.signup {
        height: 40px;
        width: 150px;
    }
 }