@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header a {
    text-decoration: none;
    color: rgb(60 64 67);
    font-size: 0.8em;
}

header a:hover {
    text-decoration: underline;
}

header div.container-topo {
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 20px;
    padding: 10px;
    margin-right: 10px;
}

div#icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: grey;
}

div#app a:hover, div#icon:hover  {
    background-color: rgba(128, 128, 128, 0.144);
    text-decoration: none;
}

div.login {
    background-color: rgb(26, 115, 232);
    text-align: center;
    padding: 9px;
    width: 120px;
    border-radius: 5px;
}

div.login a {
    font-size: 0.9em;
    color: white;
}

div.login a:hover {
    text-decoration: none;
}

main {
    margin: auto;
}

div#logo {
    text-align: center;
    padding-top: 2vh;
}

form {
    padding-left: 20px;
    padding-right: 20px;
    height: 380px;
}

div.container-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(223 225 229);
    border-radius: 30px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    height: 44px;
    max-width: 584px;
}

div.container-pesquisa:hover {
    box-shadow: 1px 1px  rgb(223 225 229);
}

div.container-bloco {
    flex: 1;
    display: flex;
    align-items: center;
    padding-top: 4px;
}

div.container-lupa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

div#lupa span {
    font-size: 20px;
    color: grey;
}

div.container-search {
    display: flex;
    align-items: center;
    flex: 100%;
}

div#search {
    width: 100%;
}

div#search input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1em;
    width: 100%;
}

div.container-app {
    display: flex;
    column-gap: 10px;
    padding-right: 10px;
}

div#keyboard, div#mic {
    color: grey;
}

div.container-pesquisa-inferior {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

div.container-button {
    display: flex;
    column-gap: 10px;
    height: 180px;
}

div.button-search input, div.button-luck input {
    font-size: 0.9em;
    background-color: rgb(248 249 250);
    color: rgb(60 64 67);
    padding: 9px 15px;
    border-radius: 4px;
    border: none;
}

div.button-search input:hover, div.button-luck input:hover {
    background-color: rgb(248 249 250);
    color: rgb(60 64 67);
    border: 1px solid rgb(223 225 229);
    box-shadow: 0px 1px rgb(223 225 229);
}

div.country {
    background-color: rgb(242 242 242);
    font-size: 0.9em;
    color: rgb(112 117 122);
    padding: 15px 30px;
    border-bottom: 1px solid rgb(218 220 224);
}

footer div.container-footer {
    background-color: rgb(242 242 242);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

footer div.container-footer-left {
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    flex-wrap: wrap;
    margin-left: 20px;
}

footer div.container-footer-right {
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    flex-wrap: wrap;
    margin-right: 20px;
}

footer div.container-footer-left a, footer div.container-footer-right a {
    color: rgb(112 117 122);
    text-decoration: none;
}

footer div.container-footer-left a:hover, footer div.container-footer-right a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 360px) and (max-width: 768px) {

    footer div.container-footer {
        justify-content: center;
        row-gap: 10px;
    }

    div#pesquisa {
        margin-top: 5px;
    }

}

