@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 1200px;
    margin: auto;
}

.relative {
    position: relative;
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: #999;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 100px;
    height: 100px;
    background-color: #ccc;
} 

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}