@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --texto-destaque: "oswald", sans-serif;

    --cor00: rgb(17,112,80);
}

p {
    color:rgb(69 69 69);
}

.container {
    max-width: 1140px;
    margin: auto;
}

.bar {
    background-color: var(--cor00);
    width: 168px;
    height: 22px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: rgb(69 69 69);
    padding: 10px 35px;
    border: 2px solid rgb(69 69 69);
    border-radius: 4px;
    margin-top: 20px;
}

.button:hover {
    background-color: rgb(69 69 69);
    color: white;
}

header {
    width: auto;
}

header .line {
    background-color: var(--cor00);
    height: 10px;
}

.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}

.header-left img {
    width: 64px;
    height: 64px;
}

.header-right {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.header--search form {
    display: flex;
}

.header--search input {
    font-size: 0.8em;
    padding: 8px 10px;
    border: 1px solid rgb(153, 153, 153);
    outline: none;
    min-width: 250px;
}

.header--search button {
    background: transparent;
    border: none;
    padding: 5px;
    margin-left: -30px;
    cursor: pointer;
}

.header--search img {
    width: 16px;
    height: 16px;
}

.header--menu img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

section.banner {
    background: url(../imagens/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 90px 0px;
}

.container h1{
    font-family: var(--texto-destaque);
    font-weight: bold;
    font-size: 6em;
    line-height: 100px;
    margin-bottom: 50px;
}

.banner--images {
    display: flex;
    column-gap: 40px;
    margin-top: 60px;
}

.banner--images img {
    width: 148px;
    height: 148px;
    border: 6px solid var(--cor00);
    border-radius: 50%;
}

section.area1, .area2, .area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1--content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 70px 100px;
}

.area1--content h2, .area2--content h2, .area3--content h2, .area4--content h2 {
    font-family: var(--texto-destaque);
    font-size: 2.2em;
    line-height: 40px;
    margin-bottom: 20px;
}

.area1--content p, .area2--content p, .area3--content p, .area4--content p {
    margin-bottom: 30px;
}

.area1--text, .area2--text, .area3--text, .area4--text {
    line-height: 1.6em;
}

.area1--image1 {
    background: url(../imagens/f2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 350px;
}

.area1--image2 {
    background: url(../imagens/f1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3 ;
}

.area2--content {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 70px 100px;
}

.area2--image1 {
    background: url(../imagens/f4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 450px;
}

.area2--image2 {
    background: url(../imagens/f3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3 ;
}

.area3--content {
    background: url(../imagens/bg2.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    padding: 200px 100px;
}

.area3--image1 {
    background: url(../imagens/f5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

section.area4 {
    display: grid;
    grid-template-columns: 540px 1fr;
    background-color: rgb(232, 233, 238);
}

.area4--content {
    padding: 150px 120px 150px 100px;
}

.area4--image1 {
    background: url(../imagens/bg3.jpg) no-repeat;
    background-size: cover;
    background-position: left;
}

.area5--image1 {
    background: url(../imagens/bg4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

footer {
    padding: 50px;
    text-align: center;
    background-color: rgb(69 69 69);
    line-height: 50px;
}

footer p, footer a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}
