@charset "utf-8";

h1 {
    text-align: center;
}

.container {
    background-color: lightgrey;
    max-width: 1200px;
    display: grid;
    gap: 10px;
    margin: auto;
    padding: 10px;
    text-align: center;
    grid-template-areas: 
        "item1 item2"
        "item3 item2"
        "item4 item2"
    ;
}

.item {
    font-size: 1.5em;
    color: white;
    background-color: crimson;
    padding: 20px;
    border-radius: 5px;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}
