@charset "utf-8";

h1 {
    text-align: center;
}

.container {
    background-color: lightgrey;
    max-width: 1200px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.item {
    font-size: 1.5em;
    color: white;
    background-color: crimson;
    padding: 20px;
    border-radius: 5px;
}

.item1 {
    grid-column: 1/ 3;
    grid-row: 1/ 3;
   
}