@charset "utf-8";

h1 {
    text-align: center;
}

.container {
    background-color: lightgrey;
    max-width: 1200px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.item {
    font-size: 1.5em;
    color: white;
    background-color: crimson;
    padding: 20px;
    border-radius: 5px;
}

.item7 {
    background-color: limegreen;

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 5;
}

.item5 {
    background-color: blueviolet;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 4;
    grid-row-end: 5;
}